<html>
  <head>
    
    <title>Hello Welcome</title>
  </head>
  <body>
    {{>header}}
    {{>footer}}

    <form>
      <input type='text' placeholder="Location">
      <button >Search</button>
    </form>


    <p id='text1'></p>
    <p id='text2'></p>
    <script src ="/js/app.js"></script>

  </body>
</html>
